// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include "cradio.dtsi"

&kscan0 {
    debounce-press-ms = <4>;
    debounce-release-ms = <4>;
    debounce-scan-period-ms = <1>;
};
