/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "cradio.dtsi"

&default_transform {
    col-offset = <17>;
};

&kscan0 {
    debounce-scan-period-ms = <1>;
    poll-period-ms = <5>;
};
